{% load reporting %}

<div class="certificates-chart certificates-chart-list js-vocational-report"
    data-template="#vocational-report"
    data-id="swimlane-chart"
    data-x-from="{{ global_axis_from }}"
    data-x-to="{{ global_axis_to }}"
    data-grid-step="50"
    data-vocations='{{ vocational_data|json }}'
    data-vocation-postfixes='{{ vocation_postfixes|json }}'
    data-student-postfix="{{ student.report_filename_postfix }}"
    data-student-scales-data='{{ student_scales_data|json }}'
    {% if is_pdf %}data-forced-vocation="{{ vocation.id }}"{% endif %}></div>

<div class="certificates-legend">
    <label class="certificates-legend-label">{% trans "Legend" %}:</label>
    <span class="certificates-legend-icon certificates-legend-mean"></span>
    <span class="certificates-legend-title">{% trans "Competence level" context "vocational_report" %}</span>
    <span class="certificates-legend-icon certificates-legend-blue-box"></span>
    <span class="certificates-legend-title">{% trans "Confidence interval" %}</span>
    <span class="certificates-legend-icon certificates-legend-target-below"></span>
    <span class="certificates-legend-title">{% trans "Requirements fulfilled" %}</span>
    <span class="certificates-legend-icon certificates-legend-target-above"></span>
    <span class="certificates-legend-title">{% trans "Requirements not fulfilled yet" %}</span>
</div>

<script type="js/template" id="vocational-report">
    <div class="certificates-chart-grid">
        <% _.each(grid, function(col) { %>
            <div class="certificates-chart-grid-item" style="left: <%= col.position %>;"><%= col.number %></div>
        <% }); %>
    </div>
    <% _.each(studentScalesData, function(item) { %>
        <div class="certificates-chart-row <%= item.is_subject ? 'certificates-chart-row-head' : '' %>">
            <% if (item.is_subject) { %>
                <div class="certificates-chart-grid">
                    <% _.each(grid, function(col) { %>
                        <div class="certificates-chart-grid-item" style="left: <%= col.position %>;"><%= col.number %></div>
                    <% }); %>
                </div>
            <% } %>
            <div class="certificates-chart-title certificates-chart-title-thin <%= item.is_subject ? 'certificates-chart-title-head' : '' %>">
                <%= item.is_subject ? item.name : item.short_name %> <span class="pink"><%= item.score %></span>
            </div>
            <div class="certificates-chart-graph">
                <% if (item.score !== undefined) { %>
                    <div class="certificates-chart-graph-bar" style="left: <%= item.positionLeft %>; right: <%= item.positionRight %>;">
                        <div class="certificates-chart-graph-bar-mean"></div>
                    </div>
                    <div class="certificates-chart-graph-target certificates-chart-graph-target-<%= item.vocationScore < item.score ? 'below' : 'above' %>"
                        style="right: <%= item.vocationPositionRight %>;"></div>
                    <% if (item.vocationScore < item.score) { %>
                        <div class="certificates-chart-graph-target-line certificates-chart-graph-target-below"
                            style="left: <%= item.vocationPositionLeft %>; right: <%= item.positionCenterRight %>;"></div>
                    <% } else { %>
                        <div class="certificates-chart-graph-target-line certificates-chart-graph-target-above"
                            style="left: <%= item.positionCenterLeft %>; right: <%= item.vocationPositionRight %>;"></div>
                    <% } %>
                <% } else { %>
                    <div class="no-data">
                        <% if (item.is_subject) { %>
                            {% trans "not available" %}
                        <% } else { %>
                            {% trans 'did not participate' %}
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    <% }); %>
</script>
